flask==3.0.3
flask-sqlalchemy==3.1.1
sqlalchemy==2.0.31
wtforms==3.1.2
flask-wtf==1.2.1
flask-httpauth==4.8.0
pillow==10.4.0
flask-login==0.6.3
flask-migrate==4.0.7
python-dotenv==1.0.1
werkzeug==3.0.4